@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: myFirstFont;
  src: url("../Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Bold.woff2")
    format("truetype");
}
@font-face {
  font-family: mySecondFont;
  src: url("../Fonts/Qanelas-Font-Family/woff2/QanelasSoft-SemiBold.woff2")
    format("truetype");
}
@font-face {
  font-family: myThirdFont;
  src: url("../Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Medium.woff2")
    format("truetype");
}
@font-face {
  font-family: myFourthFont;
  src: url("../Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Light.woff2")
    format("truetype");
}
@font-face {
  font-family: myFifthFont;
  src: url("../Fonts/Qanelas-Font-Family/otf/QanelasSoft-Bold.otf")
    format("truetype");
}
.manageInput {
  max-width: 320px;
  width: 100%;
}
.commitInput {
  width: 320px;
}

/* sidebar - header */
@media screen and (max-width: 992px) {
  .headerInput {
    width: 120px;
  }
  .manageInput {
    width: 120px;
  }
  .commitInput {
    width: 120px;
  }
  /* profile - banner */
  .profilebanner {
    height: 150px;
    object-fit: cover;
  }
  .profileBox {
    width: 120px;
    height: 120px;
  }
  /* ---upcoming img---- */
  .upcomingImg {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px !important;
  }

  /* modalline */
  .modalLine {
    display: none;
  }
  .requestImg {
    display: none;
  }

  /* modal */
  .requestModalTextarea {
    width: 100% !important;
  }
}

/* tabs - title - color */
.css-1g3inxs-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #186e47 !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #186e47 !important;
}

/* mui - dialog */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: unset !important;
}

/* accordion */
.css-eqpfi5-MuiAccordionSummary-content {
  display: flex;
  align-items: center;
}

/* mui */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  border-radius: 12px !important;
  box-shadow: none !important;
  border: 1px solid #c0c0c0;
}
/* mui select */
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 13.5px 16px !important;
}
/* mui - date-picker */
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 13.5px 16px !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 8px !important;
}

/* .swiper-pagination-bullet {
} */

.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background-color: #484644 !important;
  width: 16px !important;
  border-radius: 15px !important;
}

.swiper-pagination-vertical .swiper-pagination-bullet-active {
  background-color: #484644 !important;
  margin-left: 0;
  height: 16px !important;
  border-radius: 15px !important;
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/*   width: 20px !important;
  border-radius: 15px !important; */

.swiper {
  height: 100%;
  max-height: 100vw;
  min-height: 0;
  min-width: 0;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  max-height: 100%;
}

.swiper-wrapper {
  max-height: 100%;
  display: flex;
}
